body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F3DCDC;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #c2656d;
}

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label, form select, form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

form button {
    background-color: #c2656d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: lightpink;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #c2656d;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
